DATABASE_URL="postgresql://neondb_owner:npg_LEdwe7ClutF5@ep-young-salad-aq9z2eh6-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
BETTER_AUTH_SECRET="mhoHVsWdPj5TL5eHHl6V/WpZkdsw05gCx4HaYAjDEPY="
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_AUTH_BASE_URL="http://localhost:3000"
BETTER_AUTH_TRUSTED_ORIGINS="http://localhost:3000,http://127.0.0.1:3000"
